{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/room.css' %}">
</head>
<body>
    <div class="container">
        <form class="forms" id="pas" method="post">
            {% csrf_token %}
            <input class="input_line" placeholder="Пароль" type="password" id="Password" name="room_password">
            <input class="form_button" type="submit" value="Вход" id="register_button">
        </form>
    {% if error %}
        <div id="claim_error" class="error">{{ error }}</div>
    {% endif %}
    </div>
    <div id="main_page" class="reg_log_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script>
        function showError() {
            var errorDiv = document.getElementById("claim_error");
            errorDiv.style.display = "block"; // Показываем окно

            // Скрываем окно через 10 секунд
            setTimeout(function() {
                errorDiv.style.display = "none";
            }, 5000); // 10000 миллисекунд = 10 секунд
        }
        {% if error %}
            showError()
        {% endif %}
    </script>
</body>
</html>