{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комната</title>
    <link rel="stylesheet" href="{% static 'main/css/room.css' %}">
<!--    <link rel="stylesheet" href="{% static 'main/css/add.css' %}">-->
</head>
<body>

    <div id="popup_chat" class="popup">
        <div id="chat_open_box">
            <div id="unread_messages">3</div>
            <div id="chat_open">|||</div>
        </div>

        <div id="chat_box">
            <div id="chat">
                {% for message in messages %}
                <div {% if request.user == message.user %} class="messege_box_my" {% else %} class="messege_box_not_my" {% endif %}>
                        <div class="sender_box">
                            {% if message.user.picture %}
                            <div class="sender_image"><img src="{{message.user.picture.url}}" alt="фото профиля" class="sender_img"></div>
                            {% else %}
                            <div class="sender_image"><img src="{% static 'registration/img/Avatar.png' %}" alt="фото профиля" class="sender_img"></div>
                            {% endif %}
                            <strong class="sender_nick">{{ message.user.login }}:</strong>
                        </div>
                        <div class="text_messege">{{ message.message }}</div>
                </div>
                {% endfor %}
            </div>
            <div id="send_box">
                <textarea id="messege" placeholder="Введите сообщение" rows="1"></textarea>
<!--                <input id="messege" placeholder="Введите сообщение" type="text">-->
                <div id="send_button">
                    <img id="send_img" alt="отправить" src="{% static 'main/img/send.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div id="page">
        <div id="info_page" class="page_element">
            <div id="first_half">
                <div class="Background_text">{{room.room_name}}</div>
                <div class="Background_text">Время на вопрос: {{room.question_time}}</div>
                <div class="Background_text">Название пака: {{room.selections.selection_name}}</div>
<!--                <div class="Background_text">Режим: {{ room.get_game_mode_display }}</div>-->
                <div id="game_mode" class="Background_text"></div>
                {% if room.room_description %}
                <div id="room_description" class="Background_text">{{ room.room_description }}</div>
                {% else %}
                <div id="room_description" class="Background_text">Описание отсутствует</div>
                {% endif %}
            </div>
            <div id="second_half">
                <div id="log_out_info" class="log_out"><a style="text-decoration: none; color: inherit;" href="{% url 'Logout_Secret' room_number=room.ID  %}">Выйти со страницы</a></div>
            </div>


<!--            <div id="pause" class="button">Пауза</div>-->
<!--            <div id="play" class="button">Продолжить</div>-->
        </div>
        <div id="players_page" class="page_element center">

<!--            <div class="player">-->
<!--                <div class="image_box">-->
<!--                    <div class="player_host">H</div>-->
<!--                    <img class="img" alt="фото профиля" src="{% static 'registration/img/Avatar.png' %}">-->
<!--                </div>-->
<!--                <div class="text_box">-->
<!--                    <div class="player_name">Ник пользователя</div>-->
<!--                    <div class="player_role">Роль</div>-->
<!--                </div>-->
<!--                <div class="button players"></div>-->
<!--            </div>-->

        </div>


        <div id="settings_page" class="page_element center" style="display: none;">
            <form class="forms" id="reg" method="post">
                {% csrf_token %}
                <input id="room_early_answer"   style="display: none;" name="room_early_answer"  type="checkbox" class="checkbox" {% if early_answer %}checked{% endif %}>
                <input id="room_chat_clean"     style="display: none;" name="room_chat_clean"    type="checkbox" class="checkbox" {% if chat_clean %}checked{% endif %}>
                <input id="room_show_question"  style="display: none;" name="room_show_question" type="checkbox" class="checkbox" {% if show_question %}checked{% endif %}>
                <input id="room_random_order"   style="display: none;" name="room_random_order"  type="checkbox" class="checkbox" {% if random_order %}checked{% endif %}>

                <div class="block check">
                    Досрочный ответ
                    <img {% if early_answer %}      style="display: none;" {% endif %} id="room_early_answer_false"     alt="check" src="{% static 'main/img/check_False.png' %}" class="img_check False" data-value="False"    data-type="early_answer">
                    <img {% if not early_answer %}  style="display: none;" {% endif %} id="room_early_answer_true"      alt="check" src="{% static 'main/img/check_True.png' %}"  class="img_check True"  data-value="True"     data-type="early_answer">
                </div>
                <div class="block text_right" id="room_time_early_answer_box">Время на ответ<input id="room_time_early_answer" name="room_time_early_answer" type="text" class="input_text_number" value="{{ time_early_answer|default:'5' }}"></div>
                <div class="block check">
                    Очистка чата после вопроса
                    <img {% if chat_clean %}        style="display: none;" {% endif %} id="room_chat_clean_false"       alt="check" src="{% static 'main/img/check_False.png' %}" class="img_check False" data-value="False"    data-type="chat_clean">
                    <img {% if not chat_clean %}    style="display: none;" {% endif %} id="room_chat_clean_true"        alt="check" src="{% static 'main/img/check_True.png' %}"  class="img_check True"  data-value="True"     data-type="chat_clean">
                </div>
                <div class="block text_right">Время на вопрос (сек)<input id="room_time_question" name="room_time_question" type="text" class="input_text_number" value="{{ time_question|default:'60' }}"></div>
                <div class="block check">
                    Показывать вопрос игрокам
                    <img {% if show_question %}     style="display: none;" {% endif %} id="room_show_question_false"    alt="check" src="{% static 'main/img/check_False.png' %}" class="img_check False" data-value="False"    data-type="show_question">
                    <img {% if not show_question %} style="display: none;" {% endif %} id="room_show_question_true"     alt="check" src="{% static 'main/img/check_True.png' %}"  class="img_check True"  data-value="True"     data-type="show_question">
                </div>
                <div class="block text_right">Скорость чтения (знак/сек)<input id="room_reading_speed" name="room_reading_speed" type="text" class="input_text_number" value="{{ reading_speed|default:'10' }}"></div>
                <div class="block check">
                    Случайный порядок вопросов
                    <img {% if random_order %}      style="display: none;" {% endif %} id="room_random_order_false"     alt="check" src="{% static 'main/img/check_False.png' %}" class="img_check False" data-value="False"    data-type="random_order">
                    <img {% if not random_order %}  style="display: none;" {% endif %} id="room_random_order_true"      alt="check" src="{% static 'main/img/check_True.png' %}"  class="img_check True"  data-value="True"     data-type="random_order">
                </div>
                <div class="block text_right" id="room_break_questions_box">Перерыв между вопросами (сек)<input id="room_break_questions" name="room_break_questions" type="text" class="input_text_number" value="{{ break_questions|default:'30' }}"></div>
                <input type="submit" value="Принять" class="button" id="accept_additional_settings" style="display: none;">
                <div onclick="submitForm()" id="submit_form" class="button">Принять</div>
            </form>
        </div>



        <div id="question_page" class="page_element center" style="display: none;">
            {% for question in questions %}

            <div class="question_on_page" data-status="0">
                <div class="info_line">
                    <div class="question_number">Вопрос №{{ forloop.counter }}</div>
                    <div class="button question" onclick="deleteQuestion({{question.ID}})">|||</div>
                </div>

                <div class="question_name question_element_hidden"> Название: {{ question.question_name }}</div>
                <div class="question_description question_element_hidden">Текст вопроса: {{ question.text_question }}</div>
                {% if question.note %}
                <div class="question_note question_element_hidden">Примичание: {{ question.note }}</div>
                {% endif %}
                <div class="question_answer question_element_hidden">Ответ: {{ question.answer }}</div>
                {% if question.answer_description %}
                <div class="question_answer_description question_element_hidden">Примичание к ответу: {{ question.answer_description }}</div>
                {% endif %}


                <div class="question_name question_element_displayed">Название: {% if question.question_name|length > 20 %}{{ question.question_name|slice:":40" }}...{% else %}{{ question.question_name }}{% endif %}</div>
                <div class="question_description question_element_displayed">Текст вопроса:
                    {% if question.text_question|length > 40 %}
                        {{ question.text_question|slice:":37" }}...
                    {% else %}
                        {{ question.text_question }}
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <div class="question_on_page">В коллекции отсутсвуют вопросы</div>
            {% endfor %}

        </div>

        <div id="button_page" class="page_element">
<!--            {% if user == room.leader %}-->
<!--            <div id="question_button" class="button button_page_element" onclick="cleakQuestion()">Вопросы</div>-->
<!--            {% endif %}-->
<!--            {% if user == room.host %}-->
<!--            <div id="settings" class="button button_page_element" onclick="cleaksettings()">Параметры</div>-->
<!--            <div id="start" class="button button_page_element">Старт</div>-->
<!--            <div id="cancellation" class="button button_page_element">Отмена</div>-->
<!--            {% endif %}-->
<!--        </div>-->
        </div>
    </div>
    <div id="QuestionMenu" style="display:none;">

    </div>

    <div id="satisfy" style="display: none">
<!--        <div class="player_satisfy">-->
<!--            <img alt="фотопрофиля" class="player_satisfy_img" src="{% static 'registration/img/Avatar.png' %}">-->
<!--            <div class="player_satisfy_login">Ник пользователя</div>-->
<!--        </div>-->
    </div>

    <div id="popup_answer" class="popup" style="display: none">
        <div id="answer_box" class="text_box_leader">
            <div id="answer">
            </div>
            <div id="answer_description">
            </div>
        </div>
        <div id="note_box" class="text_box_leader" style="display: none;">
            <div id="note">
            </div>
        </div>

        <div id="answer_open_box" onclick="open_answer('#popup_answer')">
            <div id="answer_open">|||</div>
        </div>
        <div id="description_button">
<!--            Было изменено id тега ниже с answer_button на answer_show_button-->
            <div id="answer_show_button" class="button_answer" onclick="click_answer()">Ответ</div>
            <div id="note_button" class="button_answer" onclick="click_note()">Примичание</div>
        </div>
    </div>

    <div id="popup_accepting_answer" class="popup" style="display:none">
        <div id="accepting_answer_open_box" onclick="open_answer('#popup_accepting_answer')">
            <div id="accepting_answer_open">|||</div>
        </div>
        <div id="accepting_answers_box" class="leader_answers_box">
            <div id="part_answers_box">
                <div id="text_box">
                    <div id="accepting_answer"></div>
                    <div id="accepting_answer_description" class="scroll"></div>
                </div>
            </div>
            <div id="buttons_acceptance">
                <div id="buttons_like_box" class="buttons_accepting_answer_box"><img class="buttons_accepting_answer_img" id="buttons_like_img" alt="Принять" src="{% static 'main/img/like.png' %}"></div>
                <div id="buttons_dislike_box" class="buttons_accepting_answer_box"><img class="buttons_accepting_answer_img" id="buttons_dislike_img" alt="Не принять" src="{% static 'main/img/dislike.png' %}"></div>
            </div>
        </div>
    </div>


    <div id="page_question" style="display: none">
        <div id="question_screen">
            <div id="question_name"></div>
            <div id="question_text"></div>
            <div id="question_buttons">
                {% if room.random_order %}
                <div id="next_question" class="access_leader element_question_buttons" onclick="NextQuestion()">Следующий вопрос</div>
                {% else %}
                <div id="choose_question" class="access_leader element_question_buttons" onclick="send_menu()">К выбору вопроса</div>
                {% endif %}
                <div id="minus_button" class="access_leader element_question_buttons" onclick="pluse_question_time(-10)"><img class="img_question_element" alt="Плюс" title="вычисть 10 секунд из таймера" src="{% static 'main/img/minus.png' %}"></div>
                <div id="plus_button" class="access_leader element_question_buttons" onclick="pluse_question_time(10)"><img class="img_question_element" alt="Минус" title="прибавить 10 секунд таймеру" src="{% static 'main/img/plus.png' %}"></div>
                <div id="pause_button" class="access_leader element_question_buttons" onclick="pause_question_time()"><img class="img_question_element" alt="Пауза" title="прервать отсчёт" src="{% static 'main/img/continue.png' %}"></div>
                <div id="continue_button" class="access_leader element_question_buttons" onclick="play_question_time()"><img class="img_question_element" alt="Продолжить" title="продолжить отсчёт" src="{% static 'main/img/play.png' %}"></div>

                {% if room.game_mode == 0 %}
                <div id="gives_answer_button" class="access_user element_question_buttons" style="display: none" onclick="open_answeing()">Отвечает...</div>
                {% endif %}
                <div id="answer_button" class="access_user element_question_buttons" style="display: none">Ответ</div>
                {% if room.game_mode == 0 and room.early_answer %}
<!--                <div id="early_response_button" class="access_user element_question_buttons" style="display: none" onclick="open_early_response_popup()">Досрочный ответ</div>-->
                {% endif %}
                <div id="timer_panel"></div>
            </div>

        </div>
        <div id="score"></div>
        <div id="log_out_info_page2" class="log_out"><a style="text-decoration: none; color: inherit;" href="{% url 'Logout_Secret' room_number=room.ID  %}">Выйти со страницы</a></div>
    </div>

<!--    {% if error %}-->
<!--        <div id="claim_error" class="error">{{ error }}</div>-->
<!--    {% endif %}-->
    <div id="claim_error" class="error">{{ error }}</div>
    <div id="show_messege_people"></div>

    <div id="timer"></div>
    <div id="write_answer_box_popup" class="popup_answer_write">
        <div id="answer_title" class="answer_title_name">Ответ:</div>
        <input type="text" id="answer_input_line" placeholder="Введите ваш ответ" class="input_line_answer">
        <div id="answer_description_title" class="description_title_text">Примичание:</div>
        <textarea id="description_answer_input_box" placeholder="Введите примичание к вопросу" class="description_input_text"></textarea>
        <div id="send_answer" class="send_answer_button" onclick="send_answer()">Отправить</div>
    </div>
    <div id="write_early_response_box_popup" class="popup_answer_write">
        <div id="early_response_title" class="answer_title_name">Досрочный ответ:</div>
        <input type="text" id="early_response_input_line" placeholder="Введите ваш ответ" class="input_line_answer">
        <div id="early_response_description_title" class="description_title_text">Примичание:</div>
        <textarea id="description_early_response_input_box" placeholder="Введите примичание к вопросу" class="description_input_text"></textarea>
        <div id="send_early_response" class="send_answer_button" onclick="send_early_response()">Отправить</div>
    </div>

    <script>
//        document.getElementById("page").style.display = "none";
//        document.getElementById("popup_chat").style.display = "none";
//        document.getElementById("page_question").style.display = "";

        function show(text) {
            var messege = document.getElementById(text);
            messege.style.display = "block"; // Показываем окно

            // Скрываем окно через 10 секунд
            setTimeout(function() {
                messege.style.display = "none";
            }, 5000); // 10000 миллисекунд = 10 секунд
        };
        {% if error %}
            show("claim_error");
        {% endif %}

        // Подключаемся к WebSocket
        const room_game_mode = "{{ room.get_game_mode_display }}"
        document.getElementById("game_mode").textContent = "Режим: " + room_game_mode;

        const room_number = '{{ room.ID }}';
        const user_id = {{ request.user.ID }};
        const clear_chat_check = {{ room.clear_chat|lower }};
        let answer_arr = []
        let accepted_responses_arr = []

        {% if room.game_mode == 2 %}
        let check_send_answer = false;
        {% endif %}

//        const host_id = {{ room.host.ID }};
//        const leader_id = {{ room.leader.ID }};
//        const captain_id = {{ room.captain.ID }};
    </script>
    <script src="{% static 'main/js/WebSocket_player.js' %}"></script>
    <script src="{% static 'main/js/WebSocket_chat.js' %}"></script>
    <script src="{% static 'main/js/WebSocket_active.js' %}"></script>
    <script src="{% static 'main/js/room_parameters.js' %}"></script>
    <script src="{% static 'main/js/room_functions.js' %}"></script>
<!--    <script src="{% static 'main/js/popup.js' %}"></script>-->
    <script src="{% static 'main/js/question_open.js' %}"></script>
</body>
</html>
