{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комната</title>
    <link rel="stylesheet" href="{% static 'main/css/room.css' %}">
</head>
<body>

    <div id="page">
        <div id="info_page" class="page_element">
            <div id="first_half">

            </div>
            <div id="second_half">

            </div>
            <div id="log_out_info" class="log_out"><a style="text-decoration: none; color: inherit;" href="{% url 'Logout_Secret' room_number=room_number  %}">Выйти со страници</a></div>
            <div id="start" class="button">Старт</div>
            <div id="pause" class="button">Пауза</div>
            <div id="play" class="button">Продолжить</div>
<!--            {% if room.clos_room %}-->
<!--            <div id="log_out_info" class="log_out"><a style="text-decoration: none; color: inherit;" href="{% url 'Logout_Secret' room_number=room_number  %}">Выйти со страници</a></div>-->
<!--            {% else %}-->
<!--            <div id="log_out_info" class="log_out"><a style="text-decoration: none; color: inherit;" href="{% url 'Game_Room' %}">Выйти со страници</a></div>-->
<!--            {% endif %}-->
        </div>
        <div id="players_page" class="page_element">
            <div id="chat-log">
                {% for message in messages %}
                <div><strong>{{ message.user.login }}:</strong> {{ message.message }}</div>
                {% endfor %}
            </div>
            <input id="chat-message-input" type="text" size="100"/>
            <input id="chat-message-submit" type="button" value="Send"/>
        </div>
        <div id="button_page" class="page_element">

        </div>
    </div>
    <div id="chat_page">

    </div>
    <script src="{% static 'main/js/WebSocket.js' %}"></script>
    <script>
        // Подключаемся к WebSocket
        const room_number = '{{ room_number }}';
        const chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + room_number + '/'
        );

        // Обработчик получения сообщений
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.querySelector('#chat-log');
            chatLog.innerHTML += `<div><strong>${data.username}:</strong> ${data.message}</div>`;
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        // Обработчик отправки сообщений
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'room_ID': room_number,
                'message': message,
                'user_id': '{{ request.user.ID }}'
            }));

            messageInputDom.value = '';
        };

        const activeSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/active/' + room_number + '/'
        );
        activeSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === 'users_list') {
                // Обработка списка пользователей
                console.log('Users in room:', data.users);
            }
        };
        document.querySelector('#start').onclick = function(e) {
            activeSocket.send(JSON.stringify({
                'start': "start",
            }));
        };
        document.querySelector('#pause').onclick = function(e) {
            activeSocket.send(JSON.stringify({
                'pause': "pause",
            }));
        };
        document.querySelector('#play').onclick = function(e) {
            activeSocket.send(JSON.stringify({
                'play': "play",
            }));
        };

        activeSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log(data);
            };

    </script>
</body>
</html>