@font-face {
    font-family: 'Oswald'; /* Название шрифта */
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype'); /* Можно указать несколько форматов */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;

    background-image: url('../img/background.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь элемент */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
}
#main_page {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C0A610;
    border: 2px solid #524F52;
    border-radius: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    font-size: 45px;
    height: 75px;
    width: 300px;

    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}
#main_page:hover {
    background-color: #524F52;
    border: 0.6vh solid #C0A610;
}
.button {
    background-color: #C0A610;
    border: 3px solid #524F52;
    border-radius: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    background-color: #524F52;
    border: 3px solid #C0A610;
}
#page {
    width: 100vw;
    height: 100vh;
    color: white;
}
.page_element {
    float: left;
    width: 30%;
    height: 100%;
}
#page_center, #page_right, #page_hidden {
    margin-left: 5%;
}
#page_left {
    background-color: green;
}
#page_center {
    background-color: grey;
}
#page_right, #page_hidden {
    background-color: red;
}
.block.search, .block.return{
    display: flex;
    align-items: center;
    gap: 10px;
}

#popup_roles {
/*    display: none;*/
    height: 250px;
    width: 500px;
}
#popup_modes {
/*    display: none;*/
    height: 250px;
    width: 500px;
}
.popup {
    padding-top: 15px;
    padding-left: 32.5px;
    box-sizing: border-box;

    position: fixed;
    flex-direction: column;
    border: 3px solid black;
    background-color: rgba(136, 128, 136, 1);

    z-index: 1000;
}

.select_button {
    width: 435px;
    height: 60px;
    font-size: 40px;


    margin-top: 5px;
    background-color: #C0A610;
    border: 3px solid #524F52;

    color: white;
    text-align: center;
    cursor: pointer;
}
.select_button:hover {
    background-color: #524F52;
    border: 3px solid #C0A610;
}
#popup_selections {
    width: 500px;
    height: 300px;

    position: fixed;
    flex-direction: column;
    border: 3px solid black;
    background-color: rgba(136, 128, 136, 1);

    z-index: 1000;
}
#select_Selections_name {
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;

    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: white;
    border-bottom: 3px solid rgba(82, 79, 82, 1);
    font-size: 32px;
}
#select_Selections_name::placeholder {
    font-size: 32px;
}
#select_Selections_name:focus {
    font-size: 32px;
}
#scroll_selection {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;

    margin-left: 5%;
    width: 90%;

    scrollbar-width: thin;
    scrollbar-color: #C0A610 rgba(82, 79, 82, 1);
}
#spis_selections {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li_element {
    width: 430px;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;

    background-color: #C0A610;
    border: 3px solid #524F52;
    cursor: pointer;
}
.li_element:hover {
    background-color: #524F52;
    border: 3px solid #C0A610;
}
#claim_error {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336; /* Красный цвет */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Поверх всех элементов */
}
.block.check {
    border: 3px solid white;
    background-color: rgba(217, 217, 217, 0.7);
    height: 65px;
    font-size: 40px;
    padding-left: 5px;
    box-sizing: border-box;
}
.img_check {
    margin-top: -3px;
    margin-right: -3px;
    float: right;
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.input_text {
    border: 3px solid black;
    background-color: rgba(82, 79, 82, 1);
    color: black;
    font-size: 40px;
}
.input_text::placeholder {
    font-size: 40px;
}
.input_textfocus {
    font-size: 40px;
}

#select_Selections_name {
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;

    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: white;
    border-bottom: 3px solid rgba(82, 79, 82, 1);
    font-size: 32px;
}
.block {
    margin-bottom: 5px;
}
