@font-face {
    font-family: 'Oswald'; /* Название шрифта */
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype'); /* Можно указать несколько форматов */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;

    background-image: url('../img/background.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь элемент */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
}
#main_page {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C0A610;
    border: 2px solid #524F52;
    border-radius: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    font-size: 45px;
    height: 75px;
    width: 300px;

    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}
#main_page:hover {
    background-color: #524F52;
    border: 0.6vh solid #C0A610;
}
