{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'registration/css/reg_log.css' %}">
</head>
<body>
    <div class="container">
        <form class="forms" id="change_photo_nick" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.picture %}
                <div class="profile_photo_box" id="image"><img class="profile_photo change" id="IMG" alt="Фото профиля" src="{{ user.picture.url }}"></div>
            {% else %}
                <div class="profile_photo_box" id="image"><img class="profile_photo change" id="IMG" alt="Фото профиля" src="{% static 'registration/img/Avatar.png' %}"></div>
            {% endif %}

            <input class="input_line" placeholder="Ник" type="text" id="nick_name_change" name="nick_name" value="{{ username|default:user.login }}">
            <input style="display: none;" type="file"  id="Image_User" name="image_user">
            <input style="display: none;" type="submit" id="register_button">
            <div id="Continue" class="form_button">Продолжить</div>
            {% if error %}
                <p id="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <div id="main_page" class="reg_log_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script src="{% static 'registration/js/change.js' %}"></script>
</body>
</html>