{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'registration/css/reg_log.css' %}">
<!--    <link rel="stylesheet" href="../../static/registration/css/reg_log.css">-->
</head>

<body>
    <div class="container">
        <form class="forms" id="Log_In" action="{% url 'Login' %}" method="post">
            {% csrf_token %}
            <p>admin@example.com</p>
            <input class="input_line" placeholder="E-mail" type="text" id="Mail" name="mail" value="{{ usermail|default:'' }}">
            <input class="input_line" placeholder="Пароль" type="password" id="Password" name="password" value="{{ password|default:'' }}">
            <input class="form_button" type="submit" value="Вход" id="register_button">
            <div id="forgot_my_password"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Напомнить пароль</a></div>
            {% if error %}
                <p id="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <div id="main_page" class="reg_log_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <div id="reg_page" class="reg_log_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Register' %}">Регистрация</a></div>
    <div id="hint"><a href="https://translate.yandex.ru/"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>
</body>
</html>