{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
<!--    <link rel="stylesheet" href="../../static/registration/css/main.css">-->
    <link rel="stylesheet" href="{% static 'registration/css/main.css' %}">
</head>
<body>
    <div id="profile">
        {% if request.user.is_authenticated %}
            {% if user.picture %}
                <div class="profile_photo_box" id="image"><img class="profile_photo change" id="IMG" alt="Фото профиля" src="{{ user.picture.url }}"></div>
            {% else %}
                <div class="profile_photo_box" id="image"><img class="profile_photo change" id="IMG" alt="Фото профиля" src="{% static 'registration/img/Avatar.png' %}"></div>
            {% endif %}
            <div id="nick_name" class="change dynamic-text">{{user.login}}</div>
            <div id="exit" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Log_Out' %}">Выйти</a></div>
            <div id="Rank_scroll" >
                <ul class="achievements_list" style="list-style: none; padding-left:0;">
                    <div id="achievement_name"><b>Звания:</b></div>
                    {% for user_title in users_and_titles %}
                        {% if user.login == user_title.users.login %}
                        <li class="achievement" data-title="{{ user_title.titles_units.titles_description }}">{{ user_title.titles_units.titles_name }}</li>
                        {% endif %}
                    {% endfor %}

                    <li class="line_scroll" id="played_games">Сыгранно игр: {{user.played_games}}</li>
                    <li class="line_scroll" id="leader_games">Проведенно игр: {{user.leader_games}}</li>
                    <li class="line_scroll" id="win_games">Выигранно игр: {{user.win_games}}</li>
                    <li class="line_scroll" id="questions_create">Созданно вопросов: pass</li>
                </ul>
            </div>
            <div id="author" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Автор</a></div>

        {% else %}
            <div class="profile_photo_box" id="image_notauthenticated"><img class="profile_photo" id="IMG_notauthenticated" alt="Фото профиля" src="{% static 'registration/img/Avatar.png' %}"></div>
            <br>
            <div id="register" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Register' %}">Регистрация</a></div>
            <div id="login" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Login' %}">Вход</a></div>
            <div id="Rank_scroll" >
                <ul class="achievements_list" style="list-style: none; padding-left:0;">
                    <li class="line_scroll" id="total_users"></li>
                    <li class="line_scroll" id="online_users"></li>
                    <li class="line_scroll" id="questions_count"></li>
                    <li class="line_scroll" id="room_online"></li>
                </ul>
            </div>
            <div id="author" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Автор</a></div>
        {% endif %}
    </div>
    <dialog id="achievement_description">
        <div id="close">закрыть</div>
        <div id="description_box"></div>
    </dialog>
    <div class="container">
        <h2 id="name"><b class="W">W</b>hat<b class="W">W</b>here<b class="W">W</b>hen</h2>
        <div id="button">
            <div id="game" class="main_button" ><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Game_Room' %}">Игра</a></div>
            <div id="questions" class="main_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Вопросы</a></div>
        </div>
    </div>
    <div id="hint"><a href="https://translate.yandex.ru/"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>

    {% if user.is_authenticated %}

    <dialog id="change_nick_photo">
        {% if user.picture %}
            <div class="profile_photo_box" id="image_change"><img class="profile_photo change" id="IMG_change" alt="Фото профиля" src="{{ user.picture.url }}"></div>
        {% else %}
            <div class="profile_photo_box" id="image_change"><img class="profile_photo change" id="IMG_change" alt="Фото профиля" src="{% static 'registration/img/Avatar.png' %}"></div>
        {% endif %}
        <form id="change_photo_nick" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="input_line" placeholder="Ник" type="text" id="nick_name_change" name="nick_name" value="{{ username|default:user.login }}">
            <input style="display: none;" type="file"  id="Image_User" name="image_user">
            <input style="display: none;" type="submit" id="register_button">
            {% if error %}
                <p id="error" style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        <div id="Continue" class="profile_button">Продолжить</div>
        <div id="Back" class="profile_button">Назад</div>
    </dialog>
    {% endif %}
<!--    {% if error %}-->
<!--    <dialog id="error_window" open>-->
<!--        <p id="error" style="color: red;">{{ error }}</p>-->
<!--    </dialog>-->
<!--    {% endif %}-->

    <script src="{% static 'registration/js/change.js' %}"></script>
    <script src="{% static 'registration/js/main.js' %}"></script>
    <script src="{% static 'registration/js/dynamicText.js' %}"></script>
    <script src="{% static 'registration/js/dynamic_information.js' %}"></script>
</body>
</html>