{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
<!--    <link rel="stylesheet" href="../../static/registration/css/main.css">-->
    <link rel="stylesheet" href="{% static 'registration/css/main.css' %}">
</head>
<body>
    <div id="profile">
        <div id="image"><img class="change" id="IMG" alt="Фото профиля" src="{% static 'registration/img/Avatar.png' %}"></div>
        <div id="nick_name" class="change">Ник</div>
        <div id="register" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Регистрация</a></div>
        <div id="Rank_scroll" >
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>
            <li>pass</li>

        </div>
        <div id="author" class="profile_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="#">Автор</a></div>
    </div>
    <div class="container">
        <h2 id="name"><b class="W">W</b>hat<b class="W">W</b>here<b class="W">W</b>hen</h2>
        <div id="button">
            <div id="game" class="main_button" >Игра</div>
            <div id="questions" class="main_button">Вопросы</div>
        </div>
    </div>
    <div id="hint"><a href="https://translate.yandex.ru/"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>
    <script src="{% static 'registration/js/main.js' %}"></script>
</body>
</html>