@font-face {
    font-family: 'Oswald'; /* Название шрифта */
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype'); /* Можно указать несколько форматов */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;


    background-image: url('../img/background.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь элемент */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
}

