@font-face {
    font-family: 'Oswald'; /* Название шрифта */
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype'); /* Можно указать несколько форматов */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;


    background-image: url('../img/background.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь элемент */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
}

#main_page {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C0A610;
    border: 2px solid #524F52;
    border-radius: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 0.2vh black;
    text-align: center;

    font-size: 45px;
    height: 75px;
    width: 300px;

    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}

#main_page:hover {
    background-color: #524F52;
    border: 0.6vh solid #C0A610;
}

#hint {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    bottom: 20px; /* Отступ от нижнего края */
    right: 20px; /* Отступ от правого края */
    z-index: 1000; /* Уровень наложения, чтобы элемент был поверх других */
    cursor: pointer;
}

#page {
/*    margin-botton:5vh;*/
    width: 100vw;
    height: 85vh;
}

#search_box{
    float: left;
    width: 25%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
#question_box{
/*    display: flex;*/
/*    align-items: center;*/
    float: left;
    width: 50%;
    height: 100%;
    background-color: grey;
}
#random_question_box{
    float: left;
    width: 25%;
    height: 100%;
    background-color: green;
}

.input_select {
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
    border: none; /* Убирает рамку */
    outline: none; /* Убирает контур при фокусировке */
    box-shadow: none; /* Убирает тень */
    background: transparent; /* Убирает фон */
    color: white; /* Устанавливает цвет текста как у родителя */
/*    font: inherit; *//* Устанавливает шрифт как у родителя */
    border-bottom: 3px solid rgba(82, 79, 82, 1);
    font-size: 32px;
}

.input_select::placeholder {
    font-size: 32px;
}

.input_select:focus{
    font-size: 32px;
}


.select_box {
    margin-top: 5px;
    background-color: white;
    margin-left: 5%;
    height: 30%;
    width: 90%;
    min-height: 250px;
}

.spis_select {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

.select_item {
    background-color: grey;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
}

.check_mark_img {
    width: 5%;
    margin-left: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.scroll_box {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}



.down_show_box {
    margin-top: 5px;
    margin-left: 5%;
    border: 5px solid black;
    border-radius: 50px;
    min-height: 55px;
    height: 5%;
    width: 90%;
    background-color: rgba(217, 217, 217, 0.7);

    display: flex;

}

.down_text {
    font-size: 32px;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.down_box{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.down_img{
    margin-right: -5px;
    border: 5px solid black;
    height: 100%; /* Занимает всю высоту блока для изображения */
    width: 100%; /* Занимает всю ширину блока для изображения */
    object-fit: cover; /* Обеспечивает, что изображение сохраняет пропорции и заполняет блок */
    border-radius: 50px;
    cursor: pointer;
    z-index: 9999;
}

.checkbox {
    margin-left: 5%;
}

.down_show_box {
    position: relative;
}

#advanced_search_img {
    position: relative;
    z-index: 10;
}

.button {
    background-color: #C0A610;
    border: 3px solid #524F52;
    border-radius: 25px;
    color: white;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #524F52;
    border: 3px solid #C0A610;
}

#submit_search {
    margin-top: 5px;
    margin-left: 25%;
    width: 50%;
    height: 10%;
}
#question_scroll_box {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}