{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'questions/css/pattern.css' %}">
</head>
<body>
    <div id="question_box">
        <div id="question_button_box">
            <ul id="question_button_list">
                <li id="question_button" class="question_button"  onclick="showQuestion(1)">Вопрос</li>
                {% if Question.note %}
                <li id="note_button" class="question_button"  onclick="showQuestion(2)">Описание</li>
                {% endif %}
                <li id="answer_button" class="question_button"  onclick="showQuestion(3)">Ответ</li>
                <li id="license_button" class="question_button"  onclick="showQuestion(4)">Лицензия</li>
            </ul>
        </div>
        <div id="question_text_box">
            {% block question %}
            {% endblock %}
        </div>
    </div>
    <dialog id="dialog_tegs_all" class="">
        <div id="close_dialog">Закрыть</div>
        <input id="text_input" type="text" placeholder="Введите название..." onkeyup="filterItems()">
            {% block tags_add %}
            {% endblock %}
        <div id="button_box"><div id="create_tag"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Tag_add' %}?ref=2">Создать Тег</a></div></div>
    </dialog>
    <div id="tools_box">
        <div id="tegs_box_name">Теги:</div>
        <div id="tegs_box">
            {% block tags %}
            {% endblock %}
        </div>

        {% if estimation_ball_bol %}
            <div id="stars_name" class="exemple">Оценка:</div>
        {% else %}
            <div id="stars_name" class="exemple">Оцените:</div>
        {% endif %}

        {% if not request.user.is_authenticated %}
        <div id="star_box">
            <div id="login"><a href="{% url 'Login' %}" style="text-decoration: none; color: inherit; color: inherit;">Пожалуйста авторизуйтесь</a></div>
<!--            <div id="login"><a href="{% url 'Login' %}" style="text-decoration: none; color: inherit; color: inherit;">Пожалуйста авторизуйтесь</a></div>-->
            <img class="star login_stars"    alt="пустая звезда"  src="{% static 'questions/img/stars/star_unfull.png' %}">
            <img class="star login_stars"    alt="пустая звезда"  src="{% static 'questions/img/stars/star_unfull.png' %}">
            <img class="star login_stars"    alt="пустая звезда"  src="{% static 'questions/img/stars/star_unfull.png' %}">
            <img class="star login_stars"    alt="пустая звезда"  src="{% static 'questions/img/stars/star_unfull.png' %}">
            <img class="star login_stars"    alt="пустая звезда"  src="{% static 'questions/img/stars/star_unfull.png' %}">
        </div>
        {% else %}
        <div id="star_box">
            <img data-value="1"     id="star_1_full"     class="star full"    alt="звезда 1"  src="{% static 'questions/img/stars/star_lefr_full.png' %}">
            <img data-value="1"     id="star_1_unfull"   class="star unfull"  alt="звезда 1"  src="{% static 'questions/img/stars/star_lefr_unfull.png' %}">
            <img data-value="2"     id="star_2_full"     class="star full"    alt="звезда 2"  src="{% static 'questions/img/stars/star_right_full.png' %}">
            <img data-value="2"     id="star_2_unfull"   class="star unfull"  alt="звезда 2"  src="{% static 'questions/img/stars/star_right_unfull.png' %}">
            <img data-value="3"     id="star_3_full"     class="star full"    alt="звезда 3"  src="{% static 'questions/img/stars/star_lefr_full.png' %}">
            <img data-value="3"     id="star_3_unfull"   class="star unfull"  alt="звезда 3"  src="{% static 'questions/img/stars/star_lefr_unfull.png' %}">
            <img data-value="4"     id="star_4_full"     class="star full"    alt="звезда 4"  src="{% static 'questions/img/stars/star_right_full.png' %}">
            <img data-value="4"     id="star_4_unfull"   class="star unfull"  alt="звезда 4"  src="{% static 'questions/img/stars/star_right_unfull.png' %}">
            <img data-value="5"     id="star_5_full"     class="star full"    alt="звезда 5"  src="{% static 'questions/img/stars/star_lefr_full.png' %}">
            <img data-value="5"     id="star_5_unfull"   class="star unfull"  alt="звезда 5"  src="{% static 'questions/img/stars/star_lefr_unfull.png' %}">
            <img data-value="6"     id="star_6_full"     class="star full"    alt="звезда 6"  src="{% static 'questions/img/stars/star_right_full.png' %}">
            <img data-value="6"     id="star_6_unfull"   class="star unfull"  alt="звезда 6"  src="{% static 'questions/img/stars/star_right_unfull.png' %}">
            <img data-value="7"     id="star_7_full"     class="star full"    alt="звезда 7"  src="{% static 'questions/img/stars/star_lefr_full.png' %}">
            <img data-value="7"     id="star_7_unfull"   class="star unfull"  alt="звезда 7"  src="{% static 'questions/img/stars/star_lefr_unfull.png' %}">
            <img data-value="8"     id="star_8_full"     class="star full"    alt="звезда 8"  src="{% static 'questions/img/stars/star_right_full.png' %}">
            <img data-value="8"     id="star_8_unfull"   class="star unfull"  alt="звезда 8"  src="{% static 'questions/img/stars/star_right_unfull.png' %}">
            <img data-value="9"     id="star_9_full"     class="star full"    alt="звезда 9"  src="{% static 'questions/img/stars/star_lefr_full.png' %}">
            <img data-value="9"     id="star_9_unfull"   class="star unfull"  alt="звезда 9"  src="{% static 'questions/img/stars/star_lefr_unfull.png' %}">
            <img data-value="10"    id="star_10_full"    class="star full"    alt="звезда 10" src="{% static 'questions/img/stars/star_right_full.png' %}">
            <img data-value="10"    id="star_10_unfull"  class="star unfull"  alt="звезда 10" src="{% static 'questions/img/stars/star_right_unfull.png' %}">
        </div>
        {% endif %}
        <div class="exemple">Средний балл: {{ estimation_ball }}</div>

        {% block DataTime %}
        {% endblock %}

        {% block Author %}
        {% endblock %}
    </div>

     <div id="main_page" class="main_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script>
        const estimation_ball_bol = {{ estimation_ball_bol|yesno:"true,false" }};
        {% if estimation_ball_bol %}
            const my_estimation = {{ my_estimation }};
        {% endif %}
        const question_number = {{ number }};
    </script>
    <script src="{% static 'questions/js/stars.js' %}"></script>
    <script src="{% static 'questions/js/tags.js' %}"></script>
    <script src="{% static 'questions/js/dynamicText.js' %}"></script>
    <script src="{% static 'questions/js/question_display.js' %}"></script>
</body>
</html>