{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'questions/css/main.css' %}">
</head>
<body>
    <div id="page">
        <div id="search_box">
            <input id="test_post" type="text">
        </div>
        <div id="question_box">
            <input id="search" placeholder="Введите имя вопроса">
            {% for question in questions %}
            <div><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Question' question_number=question.ID  %}">{{ question.question_name }}</a></div>
            {% endfor %}
        </div>
        <div id="random_question_box">
            {{ message }}
        </div>
    </div>
    <div id="hint"><a href="{% url 'Hint' %}"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>
    <div id="main_page" class="main_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script src="{% static 'questions/js/question_search.js' %}"></script>
<!--    <script src="{% static 'questions/js/test.js' %}"></script>-->
</body>
</html>