{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'questions/css/main.css' %}">
</head>
<body>
    <div id="page">
        <div id="search_box">
            <input id="question_name" type="text" class="input_select" placeholder="Введите имя">
            <div id="select_tags" class="select_box">
                <input id="select_tags_name" class="input_select" type="text" placeholder="Введите имя тега" onkeyup="filterItemsTags()">
                <div id="scroll_box_tags" class="scroll_box">
                    <ul id="spis_select_tags" class="spis_select">
                        {% for tag in tags %}
                        <li class="select_item" data-value="{{ tag.ID }}">
                            <div class="check_mark_box">
                                <img alt="галочки нет" class="check_mark_img base" src="{% static 'questions/img/cubes/base.png' %}">
                                <img alt="выбрать" class="check_mark_img select" src="{% static 'questions/img/cubes/select.png' %}">
                                <img alt="исключить " class="check_mark_img unselect" src="{% static 'questions/img/cubes/unselect.png' %}">
                                {{ tag.tag_name }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="select_author" class="select_box">
                <input id="select_author_name" class="input_select" type="text" placeholder="Введите имя тега" onkeyup="filterItemsAuthor()">
                <div id="scroll_box_author" class="scroll_box">
                    <ul id="spis_select_author" class="spis_select">
                        {% for author in authors %}
                        <li class="select_item" data-value="{{ author.ID }}">
                            <div class="check_mark_box">
                                <img alt="галочки нет" class="check_mark_img base" src="{% static 'questions/img/cubes/base.png' %}">
                                <img alt="выбрать" class="check_mark_img select" src="{% static 'questions/img/cubes/select.png' %}">
                                <img alt="исключить " class="check_mark_img unselect" src="{% static 'questions/img/cubes/unselect.png' %}">
                                {{ author.login }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
        <div id="question_box">
            <input id="search" placeholder="Введите имя вопроса" class="input_select">
            {% for question in questions %}
            <div><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Question' question_number=question.ID  %}">{{ question.question_name }}</a></div>
            {% endfor %}
        </div>
        <div id="random_question_box">

        </div>
    </div>
    <div id="hint"><a href="{% url 'Hint' %}"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>
    <div id="main_page" class="main_button"><a style="text-decoration: none; color: inherit; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script src="{% static 'questions/js/question_search.js' %}"></script>
    <script src="{% static 'questions/js/select_tag.js' %}"></script>
    <script src="{% static 'questions/js/select_author.js' %}"></script>
<!--    <script src="{% static 'questions/js/test.js' %}"></script>-->
</body>
</html>