{% extends 'questions/pattern.html' %}


{% block question %}
<div id="question" class="appears_text">
    <div id="question_name" class="name_appears_text">{{ Question.question_name }}</div>
    <div class="many_text" id="question_text">{{Question.text_question }}</div>
</div>


<div id="note" class="appears_text">
    <div class="many_text">{{ Question.note }}</div>
</div>


<div id="answer" class="appears_text">
    <div class="many_text">{{ Question.answer }}</div>
    <div >{{ Question.answer_description }}</div>
</div>

<div id="license" class="appears_text">
    <div class="name_appears_text">{{ Question.license_id.license_name }}</div>
    <div>{{ Question.license_id.license_description }}</div>
</div>
{% endblock %}


{% block tags_add %}
<div id="tags_scroll">
    <ul id="all_tags">
    {% for tag in tags_all %}
        <li class="all_tag" data-value="{{ tag.ID }}">{{ tag.tag_name }}</li>
    {% empty %}
        <li id="message">Нет тегов для отображения</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


{% block tags %}
    <ul class="tegs">
    {% for tag in tags_queation %}
        <li class="teg dynamic_size">{{ tag }}</li>
    {% endfor %}
        {% if request.user.is_authenticated %}
        <li id="add_teg">+</li>
        {% endif %}
    </ul>
{% endblock %}


