{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'questions/css/main.css' %}">
</head>
<body>
    <div id="page">
        <div id="search_box">

            <input id="question_search" type="text" class="input_select" placeholder="Поиск...">

            <div id="search_name_box" class="down_show_box">
                <div id="advanced_search" class="down_text">Расшириный Поиск</div>
                <div id="advanced_search_img_box" class="down_box"><img id="advanced_search_img" class="down_img" alt="Вниз" src="{% static 'questions/img/cubes/down_button.png' %}"></div>
            </div>

            <div id="search_advanced_box" class="select_search_box">
                <input type="checkbox" id="checkbox_search" class="checkbox"> Строгое совпадение
                <input id="question_search_title" type="text" class="input_select hidden" placeholder="Поиск по имени">
                <input id="question_search_text" type="text" class="input_select hidden" placeholder="Поиск по тексту в вопросе">
                <input id="question_search_answer" type="text" class="input_select hidden" placeholder="Поиск по ответу">
            </div>

            <div id="tags_name_box" class="down_show_box">
                <div id="tags_search" class="down_text">Теги</div>
                <div id="tags_search_img_box" class="down_box"><img id="tags_search_img" class="down_img" alt="Вниз" src="{% static 'questions/img/cubes/down_button.png' %}"></div>
            </div>

            <div id="select_tags" class="select_box">
                <input id="select_tags_name" class="input_select" type="text" placeholder="Введите имя тега" onkeyup="filterItemsTags()">
                <input type="checkbox" id="checkbox_tag" class="checkbox"> Строгое совпадение
                <div id="scroll_box_tags" class="scroll_box">
                    <ul id="spis_select_tags" class="spis_select">
                        {% for tag in tags %}
                        <li class="select_item select_item_tags" data-value="{{ tag.ID }}">
                            <div class="check_mark_box">
                                <img alt="галочки нет" class="check_mark_img base" src="{% static 'questions/img/cubes/base.png' %}">
                                <img alt="выбрать" class="check_mark_img select" src="{% static 'questions/img/cubes/select.png' %}">
                                <img alt="исключить " class="check_mark_img unselect" src="{% static 'questions/img/cubes/unselect.png' %}">
                                {{ tag.tag_name }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="author_name_box" class="down_show_box">
                <div id="author_search" class="down_text">Авторы</div>
                <div id="author_search_img_box" class="down_box"><img id="author_search_img" class="down_img" alt="Вниз" src="{% static 'questions/img/cubes/down_button.png' %}"></div>
            </div>

            <div id="select_author" class="select_box">
                <input id="select_author_name" class="input_select" type="text" placeholder="Введите имя тега" onkeyup="filterItemsAuthor()">
                <div id="scroll_box_author" class="scroll_box">
                    <ul id="spis_select_author" class="spis_select">
                        {% for author in authors %}
                        <li class="select_item select_item_author" data-value="{{ author.ID }}">
                            <div class="check_mark_box">
                                <img alt="галочки нет" class="check_mark_img base" src="{% static 'questions/img/cubes/base.png' %}">
                                <img alt="выбрать" class="check_mark_img select" src="{% static 'questions/img/cubes/select.png' %}">
                                <img alt="исключить " class="check_mark_img unselect" src="{% static 'questions/img/cubes/unselect.png' %}">
                                {{ author.login }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="clean_button" class="button">Очистить</div>
            <div id="Selection_button" class="button"><a style="text-decoration: none; color: inherit;" href="{% url 'Selection_Create' %}">Создать коллекцию</a></div>
            <div id="question_button" class="button"><a style="text-decoration: none; color: inherit;" href="{% url 'Question_add' %}">Создать Вопрос</a></div>

        </div>
        <div id="question_box">
            <input id="search" placeholder="Введите имя вопроса (Это поле пока не работает)" class="input_select">
            <select id="count_question" class="count">
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="100">100</option>
            </select>
            <select id="sorting_question" class="count">
                <option value="ID">Сначала старые</option>
                <option value="-ID">Сначала новые</option>
                <option value="average_estimation">По возрастанию оценки</option>
                <option value="-average_estimation">По убыванию оценки</option>
            </select>

            <div id="question_scroll_box">

<!--                <div class="link_box_question">-->
<!--                    <a class="link_question_page">-->
<!--                        <div class="box_text">-->
<!--                            <div class="name_question">Имя</div>-->
<!--                            <div class="text_question">Текст</div>-->
<!--                        </div>-->
<!--                        <div class="question_estimation"><div class="estimation">7.7</div></div>-->
<!--                    </a>-->
<!--                    <div class="button_tools">|||</div>-->
<!--                    <ul class="tools_menu">-->
<!--                        <li class="tools_element selection">Добавить в коллекцию</li>-->
<!--                        <li class="tools_element"><a class="a_link" href="#?ref=pass">Пожаловаться</a></li>-->
<!--                    </ul>-->
<!--                </div>-->

            </div>

        </div>
        <div id="random_question_box">

        </div>
    </div>

    <div id="popup_windiw" class="popup_windiw">
        <div id="popup_windiw_close" class="button" onclick="closePopup()">Закрыть</div>
        {% if request.user.is_authenticated %}
        <input id="select_Selections_name" class="input_select" type="text" placeholder="Введите имя коллекции" onkeyup="filterItemsSelection()">
        <div id="scroll_selection" class="scroll_box">
            <ul class="spis" id="spis_selections">
                {% for select in selection_user %}
                <li class="li_element">
                    <div class="element" data-value="{{ select.ID }}">
                        {{ select.selection_name }}
                    </div>

                    <img alt="галочки нет" class="check_mark_img_selection base_selection" src="{% static 'questions/img/cubes/base.png' %}">
                    <img alt="выбрать" class="check_mark_img_selection select_selection" src="{% static 'questions/img/cubes/select.png' %}">

                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="button" id="button_login"><a href="{% url 'Login' %}" style="text-decoration: none; color: inherit;">Пожалуйста авторизуйтесь</a></div>
        {% endif %}
    </div>

    <div id="hint"><a href="{% url 'Hint' %}"><img  alt="?" src="{% static 'registration/img/hint.png' %}"></a></div>
    <div id="main_page" class="main_button"><a style="text-decoration: none; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script src="{% static 'questions/js/select_tag.js' %}"></script>
    <script src="{% static 'questions/js/select_author.js' %}"></script>
    <script src="{% static 'questions/js/question_search.js' %}"></script>
    <script src="{% static 'questions/js/clean.js' %}"></script>
    <script src="{% static 'questions/js/question_button.js' %}"></script>
<!--    <script src="{% static 'questions/js/test.js' %}"></script>-->
</body>
</html>


