{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать подборку</title>
    <link rel="stylesheet" href="{% static 'questions/css/add.css' %}">
</head>
<body>

    <div id="claim_container" class="container">
        <div id="screen">
            <form method="post" class="forms" id="form_selection_add">
                {% csrf_token %}
                <input name="selection_name" id="selection_name" type="text" placeholder="Введите Название жалобы" class="input_line" value="{{ selection_name|default:'' }}">
                    <input name="selection_checkbox" id="selection_checkbox" type="checkbox" class="input_checkbox" value="1"
           {% if selection_checkbox %}checked{% endif %}>Приватная коллекция
<!--                <input name="selection_checkbox" id="selection_checkbox" type="checkbox" class="input_checkbox" value="{{ selection_checkbox|default:'' }}"> Приватная коллекция-->
                <input id="submit" type="submit" class="form_button" value="Отправить">
            </form>
            {% if error %}
                <div id="claim_error" class="error">{{ error }}</div>
            {% endif %}
        </div>
    </div>
    <div id="main_page" class="main_button"><a style="text-decoration: none; color: inherit;" href="{% url 'Menu' %}">Меню</a></div>
    <script>
        function showError() {
            var errorDiv = document.getElementById("claim_error");
            errorDiv.style.display = "block"; // Показываем окно

            // Скрываем окно через 10 секунд
            setTimeout(function() {
                errorDiv.style.display = "none";
            }, 5000); // 10000 миллисекунд = 10 секунд
        }
        {% if error %}
        showError()
        {% endif %}
    </script>
</body>
</html>