@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #A597A3, #726871, #A597A3);
}

#hint {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    bottom: 20px; /* Отступ от нижнего края */
    right: 20px; /* Отступ от правого края */
    z-index: 1000; /* Уровень наложения, чтобы элемент был поверх других */
    cursor: pointer;
}

#log_page, #reg_page {
    position: fixed;
    bottom: 120px;
    left: 20px;
    z-index: 1000;
}

#main_page {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.reg_log_button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C0A610;
    border: 2px solid #524F52;
    border-radius: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 0.2vh black;
    text-align: center;

    font-size: 45px;
    height: 75px;
    width: 300px;


    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}

.reg_log_button:hover {
    background-color: #524F52;
    border: 0.6vh solid #C0A610;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.input_line {
    width: 400px;
    height: 50px;

    border: 0.3vh solid rgba(33, 32, 32, 1) ;
    background-color: rgba(82, 79, 82, 1);
    margin-bottom: 10px;
    font-size: 40px;
}

.input_line:focus {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    outline: none; /* Убирает стандартный контур при фокусе */
    font-family: "Oswald", sans-serif;
}

.input_line::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.form_button {
    background-color: #C0A610;
    border: 4px solid #524F52;
    border-radius: 15px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    -webkit-text-stroke: 1px black;
    text-align: center;

    height: 85px;
    width: 420px;

    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}

.form_button:hover {
    background-color: #524F52;
    font-size: 65px;
    border: 0.6vh solid #C0A610;
}

.profile_photo_box {
    margin-top: -10vh;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.profile_photo {
    width: 14vw; /* Ширина изображения */
    height: 14vw; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило контейнер */
    border-radius: 50%;
/*    border-radius: 50%;*/
    background-color: rgba(217, 217, 217, 0.7);
}

.change {
    border: 2px solid gray;
    cursor: pointer;
}

.change:hover {
    border: 2px solid black;
}

#error {
    color: red;
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    -webkit-text-stroke: 1px black;
}

#forgot_my_password {
    background-color: #C0A610;
    border: 4px solid #524F52;
    border-radius: 15px;

    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    text-align: center;

    margin-top: 20px;

    height: 55px;
    width: 420px;

    cursor: pointer;
    transition: .5s;
    box-shadow: -4px -5px 4px 0px rgba(0, 0, 0, 0.25);
}

#forgot_my_password:hover {
    background-color: #524F52;
    border: 0.6vh solid #C0A610;
    font-size: 45px;
}
